{% extends 'adminbase.html' %}
{% block content %}
<style>
    th,
    td {
        padding: 10px;
    }
    th{
        background-color: #01025c;
        color: white;
    }
</style>
<center>
    {% if messages %}
    {% for msg in messages %}
    <script>alert('{{msg}}');</script>
    {% endfor %}
    {% endif %}
    <div style="margin: 50px;">
        <hr>
        <h2 style="margin: 10px;">Patient details</h2>
        <hr>
        {% if patient %}
            <table border="0" id="tb"  style="width: 80%;">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>HOUSE</th>
                    <th>PLACE</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                </tr>
                {% for s in patient %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.house}}</td>
                    <td>{{s.place}}</td>
                    <td>{{s.phone}}</td>
                    <td>{{s.email}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
    </div>
</center>
<script>
    var msg = "{{msg}}";
    if (msg != "")
        alert(msg)
</script>
{% endblock %}