{% extends 'doctorbase.html' %}
{% block content %}
<style>
    th,
    td {
        padding: 10px;
    }

    th {
        background-color: #01025c;
        color: white;
    }
</style>
<center>
    {% if messages %}
    {% for msg in messages %}
    <script>alert('{{msg}}');</script>
    {% endfor %}
    {% endif %}
    <div style="margin: 50px;">
        <hr>
        <h2 style="margin: 10px;">Patient Booking History</h2>
        <hr>
        <br>
        {% if pbooking %}
        <table border="0" id="tb">
            <tr>
                <th>ID</th>
                <th>DATE</th>
                <th>DOCTOR</th>
                <th>PATIENT</th>
                <th></th>
            </tr>
            {% for s in pbooking %}
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.bookingdate}}</td>
                <td>{{s.docid.name}}</td>
                <td>{{s.regid.name}}</td>
                <td><a href="/doctorviewprescription?id={{s.id}}">View prescription</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</center>
<script>
    var msg = "{{msg}}";
    if (msg != "")
        alert(msg)
</script>
{% endblock %}