{% extends 'userbase.html' %}
{% block content %}
<style>
    th,
    td {
        padding: 10px;
    }
    th{
        background-color: #01025c;
        color: white;
    }
</style>
<center>
    {% if messages %}
    {% for msg in messages %}
    <script>alert('{{msg}}');</script>
    {% endfor %}
    {% endif %}
    <div style="margin: 50px;">
        <hr>
        <h2 style="margin: 10px;">Booking details</h2>
        <hr>
        {% if booking %}
            <table border="0" id="tb" style="width: 50%;" >
                <tr>
                    <th>ID</th>
                    <th>DATE</th>
                    <th>BOOKING DATE</th>
                    <th>DOCTOR</th>
                    <th>TOKEN</th>
                    <th>STATUS</th>
                    <th>PRESCRIPTION</th>
                </tr>
                {% for s in booking %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.bookeddate}}</td>
                    <td>{{s.bookingdate}}</td>
                    <td>{{s.docid.name}}</td>
                    <td>{{s.token}}</td>
                    <td>{{s.status}}</td>
                    <td><a href="/userviewpres?id={{s.id}}">View Prescription</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
    </div>
</center>
<script>
    var msg = "{{msg}}";
    if (msg != "")
        alert(msg)
</script>
{% endblock %}